<!DOCTYPE html>
<html lang="en">
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	</head>
	<style>
        /* override Bootstrap's container */
        .container-fluid {
            padding-right:5;
            padding-left:5;
            margin-right:auto;
            margin-left:auto
        }
        body {
		    background-color: #72BF61;
		} 
		h1 {
		  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
		  font-size: 72px;
		  padding: 20px 30px;
		  text-align: center;
		  text-transform: uppercase;
		  text-rendering: optimizeLegibility;
		}
		.elegantshd {
		  color: #131313;
		  letter-spacing: .10em;
		  text-shadow: 1px -1px 0 #72BF61;
		}

    </style>
    <div class="p-3 mb-2 bg-dark text-white" ng-app="scheduleApp" ng-controller="scheduleController">
		<div class="container-fluid">
			<div class="row">
				<h1 class="elegantshd"> Dynamic Bus Scheduler </h1>
			</div>
			<div class="row">


				<form novalidate>
					<div class="form-row align-items-center">
						<div class="col-auto my-1">
							<select class="custom-select mr-sm-2" name="routeSelect" ng-model="selectedRoute" ng-options="x for x in routes">
								<option selected value>all</option>
					    </select>
					  </div>
				    <div class="col-auto my-1">
							<select class="custom-select mr-sm-2" name="stationSelect" ng-model="selectedStation" ng-options="x.name for x in stationRoutes">
								<option selected value>all</option>
					    </select>
					  </div>
					    <!-- TODO: add a time input (html defaults are bad, look at bootstrap ones) -->
					  <div class="col-auto my-1">
						  <button ng-click="getRouteData()">Submit</button>
						</div>
					</div>
				</form>
			</div>
			<div class="row">
	            <table class="table table-dark">
	                <thead>
	                    <tr>
	                        <th>Bus Number</th>
	                        <th>Estimated Arrival</th>
	                        <th>Station</th>
	                        <th>Status</th>                                          
	                    </tr>
	                </thead>
	                <tbody>
		                <tr ng-repeat="x in schedule">
		                    <td>{{x.route}}</td>
		                    <td>{{x.arrivalTime}}</td>
		                    <td>{{x.station}}</td>
		                    <td><span class="label label-success">{{x.status}}</span>
		                    </td>                                       
		                </tr>                            
	                </tbody>
	            </table>
			</div>
		</div>
	</div>
	<script>
		var serverList = [window.location.href];
		var mapRouteServer = {};
		/*
		var mapRouteServer = { //placeholder values, set to empty once the server can handle GET /appData
			r0:serverList[0],
			r1:serverList[0],
			r2:serverList[0],
			r3:serverList[0]
		};
		*/

		var workingServer = 0;      // index of the serverList element to be used,
		                            // increment on connection failure

		var allServersMightBeDown = false;  // set to true when workingServer exided serverList.length and
											// has to restart from 0; if already true, the servers are assumed
											// to be down; reset to false upon successfully reaching a server

		function handleError(err, callback) {
			// TODO check if the error is a connection failure before running the code below
			console.log(err);
			/*
			++workingServer;
			if (workingServer === serverList.length) {
				workingServer = 0;
				if (allServersMightBeDown)
					window.location.reload(0); // all servers are down, try to reload
				else
					allServersMightBeDown = true;
			}
			if (callback)
				callback();
			*/
		}

		function handleSuccess() {
			allServersMightBeDown = false;
		}

		function pushUnique(arr, val) {
			if (arr.indexOf(val) === -1)
				arr.push(val);
		}

		// selects the server corresponding to the route and passes its address to the callback function
		function selectServer(route, callback) {
			var url;
			if (mapRouteServer['r' + route])
				url = mapRouteServer['r' + route];
			else
				url = serverList[workingServer % serverList.length];
			callback(url);
		}

		function makeRouteDataRequest($scope, $http, data) {
			selectServer(data.route, function(url) {
				$http.post(url + 'routeData', JSON.stringify(data)).then(
					function(response) {		// success
						if (response.data.serverOfRoute !== url) {
							// the server is not the one handling that route,
							// update server map and list and make the request to the new address
							mapRouteServer['r' + data.route] = response.data.serverOfRoute;
							pushUnique(serverList, response.data.serverOfRoute);
							makeRouteDataRequest($scope, $http, data);
						} else {
							// TODO: convert arrival times to 24h format
							// (from seconds relative to the moment of the request)
							// TODO: add the elements in the order of the arival times 
							$scope.schedule = $scope.schedule.concat(response.data.schedule);
						}
			    	},
			    	function(response) {		// error, TODO
						handleError(response, makeRouteDataRequest.bind(null, $scope, $http, data));
			    	}
				);
			});
		}

		function makeAppDataRequest($scope, $http) {
			$http.get(serverList[workingServer] + 'appData').then(
		    	function(response) {		// success
					mapRouteServer = response.data.mapRouteServer;
					$scope.stationRoutes = response.data.stationRoutes;
					for (var x in mapRouteServer) {
						$scope.routes.push(parseInt(x.substring(1)));
						pushUnique(serverList, mapRouteServer[x]);
					}
		    	},
		    	function(response) {		// error, TODO
					handleError(response, makeAppDataRequest.bind(null, $http, $scope));
		    	}
		    );
		}

		var app = angular.module('scheduleApp', []);
		app.controller('scheduleController', function($scope, $http) {
			/*
			// placeholder values, delete once the server can handle GET /appData
			$scope.stationRoutes = [
				{
					id:0,
					name:'Hoofdstation Groningen',
					routes:[0, 1, 2, 3]
				},
				{
					id:1,
					name:'Zernike Campus',
					routes:[0, 1, 2, 3]
				},
			];
		    $scope.routes = [0, 1, 2, 3];
		    //---------------------------------------------------------------------
		    */

		    $scope.getRouteData = function(){
		    	$scope.schedule = [];
		    	var requestData = { 'time':$scope.selectedTime };
		    	if ($scope.selectedStation) {
		    		requestData.station = $scope.selectedStation.id;
		    	}
		    	if (typeof $scope.selectedRoute !== 'undefined') {
		    		requestData.route = $scope.selectedRoute;
		    		makeRouteDataRequest($scope, $http, requestData);
		    	} else if (typeof $scope.selectedStation !== 'undefined') {
		    		// if the route is not specified, make a request for each route containing the station
		    		for (var i = 0; i != $scope.selectedStation.routes.length; ++i) {
		    			requestData.route = $scope.selectedStation.routes[i];
		    			makeRouteDataRequest($scope, $http, requestData);
		    		}
		    	} else {
		    		// TODO, display this in a friendlier way:
		    		window.alert('Select at least one route or one station');
		    	}
		    }

		    $scope.stationRoutes = [];
		    $scope.routes = [];
		    makeAppDataRequest($scope, $http);

		});
	</script>
</html>